@charset "utf-8";
/* CSS Document */
.myMediaViewer-application-64{
background-image:url('../images/myMediaViewer-icon-64.png');
background-position: -0px -0px;
}
.myMediaViewer-application-64:active{
background-image:url('../images/myMediaViewer-icon-64.png');
background-position: -64px -0px;
}
.myMediaViewer-application-64.disabled{
background-image:url('../images/myMediaViewer-icon-64.png');
background-position: -128px -0px;
}

.myMediaViewer-refresh-64{
background-image:url('../images/myMediaViewer-refresh-normal-64.png');
}
.myMediaViewer-refresh-64:active{
background-image:url('../images/myMediaViewer-refresh-pressed-64.png');
}
.myMediaViewer-refresh-64.disabled{
background-image:url('../images/myMediaViewer-refresh-disable-64.png');
}


/*MediaPlayer*/
.myMediaViewer-play-64{
background-image:url('../images/myMediaViewer-play-normal-64.png');
}
.myMediaViewer-play-64:active{
background-image:url('../images/myMediaViewer-play-pressed-64.png');
}
.myMediaViewer-play-64.disabled{
background-image:url('../images/myMediaViewer-play-disable-64.png');
}

.myMediaViewer-pause-64{
background-image:url('../images/myMediaViewer-pause-normal-64.png');
}
.myMediaViewer-pause-64:active{
background-image:url('../images/myMediaViewer-pause-pressed-64.png');
}
.myMediaViewer-pause-64.disabled{
background-image:url('../images/myMediaViewer-pause-disable-64.png');
}

.myMediaViewer-stop-64{
background-image:url('../images/myMediaViewer-stop-normal-64.png');
}
.myMediaViewer-stop-64:active{
background-image:url('../images/myMediaViewer-stop-pressed-64.png');
}
.myMediaViewer-stop-64.disabled{
background-image:url('../images/myMediaViewer-stop-disable-64.png');
}

.myMediaViewer-prev-64{
background-image:url('../images/myMediaViewer-rewind-normal-64.png');
}
.myMediaViewer-prev-64:active{
background-image:url('../images/myMediaViewer-rewind-pressed-64.png');
}
.myMediaViewer-prev-64.disabled{
background-image:url('../images/myMediaViewer-rewind-disable-64.png');
}

.myMediaViewer-next-64{
background-image:url('../images/myMediaViewer-forward-normal-64.png');
}
.myMediaViewer-next-64:active{
background-image:url('../images/myMediaViewer-forward-pressed-64.png');
}
.myMediaViewer-next-64.disabled{
background-image:url('../images/myMediaViewer-forward-disable-64.png');
}